.table-container {
  margin: auto;
  max-height: 500px;
  max-width: 90vw;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  display: table;
}

table thead tr th {
  background-color: rgb(20, 20, 20);
  border-bottom: 0.8px wheat solid;
  color: yellow;
  font-size: 1.2rem;
  height: 30px;
  padding: 8px;
  text-shadow: 0.1em 0.1em 0.2em rgb(216, 195, 156);
}

table tbody tr td {
  background-color: var(--backGroundColor);
  border-bottom: 0.8px wheat solid;
  height: 30px;
  padding: 8px;
}
